@mixin media($res) {
  @if mobile==$res {
    @media only screen and (max-width: $mobile_width) {
      @content;
    }
  }

  @if tablet==$res {
    @media only screen and (max-width: $tablet_width) {
      @content;
    }
  }

  @if desktop==$res {
    @media only screen and (max-width: $desktop_width) {
      @content;
    }
  }

  @if wide==$res {
    @media only screen and (max-width: $medium_width) {
      @content;
    }
  }

  @if exwide==$res {
    @media only screen and (max-width: $wide_width) {
      @content;
    }
  }
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin link-hover {
  border-bottom: 3px solid black;
  margin-top: -3px;
  color: black;
}

@mixin greenvideo {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: $mid-green;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem 3rem 0.5rem 2.5rem;

  @include media(desktop) {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: $mid-green;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.3rem 1.5rem 0.3rem 1rem;
  }

  .play {
    fill: #fff;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1.5rem;

    @include media(desktop) {
      fill: #fff;
      width: 2rem;
      height: 2rem;
      margin-right: 0.7rem;
    }
  }
  h2 {
    font-size: 2.5rem;
    font-family: $karlabold;
    margin-top: 0.5rem;
    @include media(desktop) {
      font-size: 1rem;
    }
  }
  span {
    font-size: 2.5rem;
    font-family: $karlaI;
    padding-left: 0.5rem;

    // font-style: $italic;
    @include media(desktop) {
      font-size: 1rem;
      margin-top: 0.2rem;
    }
  }
}
@mixin greenvideo2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: $mid-green;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.3rem 1.5rem 0.3rem 1rem;
  .play {
    fill: #fff;
    width: 2rem;
    height: 2rem;
    margin-right: 0.7rem;
  }
  h2 {
    font-size: 1.3rem;
    font-family: $karlabold;
    margin-top: 0.5rem;
    @include media(desktop) {
      font-size: 1rem;
    }
  }
  span {
    font-size: 1.3rem;
    font-family: $karlaI;
    padding-left: 0.3rem;
    @include media(desktop) {
      font-size: 1rem;
      margin-top: 0.2rem;
    }

    // font-style: $italic;
  }
}

@mixin blur {
  :hover img {
    filter: contrast(130%);
    width: 105%;
  }
}
@mixin blur2 {
  :hover img {
    filter: contrast(130%);
  }
}

//SCREEN WIDTH

/* $wide_width: 1300px;
$medium_width: 1200px;
$desktop_width: 992px;
$tablet_width: 767px;
$mobile_width: 576px;

 */

// 1em = 16px
$wide_width: 81.25em; //1300px
$medium_width: 75em; //1200px
$desktop_width: 62em; //992px
$tablet_width: 47.9375em; //767px
$mobile_width: 36em; //576px
