*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body{
    font-family: sans-serif;
    background-color: brown;
    background-size: cover;
    position: relative;

    
}

.main__container{
    margin: 4rem 4rem;
    justify-content: center;
    background-color: #eee;
    border-radius: 10px;
    align-items: center;
  
}

.company__name{
    font-size: 2rem;
    font-weight: 300;
    color: brown;
    padding: 2rem;

}
.header__info{
    text-align: right;
    position: absolute;
    top: .5rem;
    right: 4rem;
    display: flex;
    list-style: none;
    color: brown;
    text-decoration: none;

}

.header__item{
    display: inline-block;
    list-style: none; 
}
.header__item:hover{
    transform: translateY(-1px);
    font-weight: 700;  
}

.header__item:not(:last-child){
    padding: 1.5rem;
}
.header__link{
    color: brown;
    text-decoration: none;
}

.header__link-button{
    display: inline-block;
    background-color: brown;
    color: #fff;
    padding: 1.5px 25px;
    text-decoration: none;
    margin-left: 10rem;
}

.order__section{
    color: brown;
    font-size: 16px;
    padding: 4rem;
    line-height: 2.5rem;
    position: relative;
    
}

.order__button{
    display: inline-block;
    background-color: brown;
    color: #fff;
    border-radius: 3px;
    padding: 2px 30px;
    margin-top: 2rem;
    text-decoration: none;
}
.order__button:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 6rem rgba(0,0,0, 0.4);
    text-decoration: none;
    border-bottom: none;
}

.burger__image{
    height: 20rem;
    width: 20rem;
    position: absolute;
    top: 4rem;
    right: 10rem;

}

.app__heading{
    text-align: center;
    margin-top: 5rem;
    color: brown;
}

.delivery__info{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 15rem;
}