
 button,
 .btn{
  
  // border: 1px solid #fff;

  color: #fff;
  
  transition: all .2s;

  &:hover {
    color: #fff;
   
  }

  &.sign-up {
    padding: 1px 25px;
    border-color: #fff;
  }

  &.sign-up-green {
    padding: 1px 25px;
    border-color: $dark-green;
  }

  &.large {
    font-size: 2rem;
    padding: 18px 57px;
    margin: 40px 0 0 0;
    letter-spacing: 4px;
    border-color: #fff;

    &:hover {
      background: $dark-green;
      border-color: $dark-green;
    }

    @media only screen and (max-width: $mobile_width) {
      font-size: 1.5rem;
      padding: 17px 15px;
      background-color: $mid-green;
      border-color: $mid-green;
    }

    img {
      margin-left: 15px;
      margin-bottom: 4px;
    }
  }

  &.green-btn {
  
    color: #fff;
    background: $mid-green;
   padding: .2rem 2rem;
    border: 1px solid $mid-green;
    box-shadow: 0px 4px 17px -5px rgba(0,0,0,0.75);

    &:focus {
     box-shadow: none;
    
    }

    &:hover {
      transform: translate(0, -3px);
      background: transparent;
      color: $mid-green;
      border-color: $mid-green;
      box-shadow: none;
    }
    
  }

  &.request-btn {
    padding: 18px 50px;
    font-size: 1.7rem;
    background: $mid-green;
    color: #FFF;

    @media only screen and (max-width: $desktop_width) {
      padding: 18px 36px;
    }

    @media only screen and (max-width: $mobile_width) {
      padding: 18px 28px;
    }
  }

  &.green-small-btn {
    font-size: 1.5rem;
    padding: 1rem 6rem;
    margin-top: 2rem;
  }

  &.btn-full-width {
    color: $dark-green;
    width: 100%;
    font-size: 1.5rem;
    background: $mid-green;
    color: #fff;
    padding: 20px 0;
    letter-spacing: .3rem;
  }

}