*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;

 
  @include media(desktop) {
    font-size: 52.25%;
  }
  @include media(tablet) {
    font-size: 37%;
  }
  
  @include media(wide) {
    font-size: 60%;
  }

}

body {
  box-sizing: border-box;
  font-family: $karlaregula;
  color: #ffffff;
  font-size: 1.6rem;
  padding-top: 12rem;
  @include media(mobile) {
    padding-top: 6rem;
  }

  @include media(tablet) {
    padding-top: 9rem;
  }
}
.row {
  margin: 0;
}

a {
  color: #333;
  font-size: 0.5rem;
  font-family: $karlabold;
  text-decoration: none;
}

